<html>
    <head>
        <title>Movie Theaters</title>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <div id="main">
            <h1>Movie Theater Locations</h1>

            <h4>Add new movie company</h4>
            <form action="/moviecompanies" method="POST">
                <label>Name: <input type="text" name="name" /></label>
                <input type="submit" />
            </form>

            <h4>Add new theater location</h4>
            <form action="/moviecompanies/add-location" method="POST">
                <label>
                    Company:
                    <select name="companyid">
                        <option th:each="company : ${companies}"
                                th:text="${company.name}"
                                th:value="${company.id}">
                    </select>
                </label>
                <label>Theater Name: <input type="text" name="locationName" /></label>
                <label>Location: <input type="text" name="address" /></label>
                <input type="submit" />
            </form>

            <h4>Movie Companies</h4>
            <ul>
                <li th:each="company : ${companies}">
                    <span th:text="${company.name}" />
                </li>
            </ul>


            <h4>Theater Locations</h4>
            <ul>
                <li th:each="theater : ${theaters}">
                    <span th:text="${theater.name}" />
                    @ <span th:text="${theater.location}" />
                </li>
            </ul>
        </div>
    </body>
</html>